@model ProtoV1.Models.Asiakasluokittelu
@{
    ViewBag.Title = "Index";
}

<h2>Asiakasluokittelu</h2>

<div class="styled-chekbox">
    <input type="checkbox" checked class="icheck-box-flat"> <span class="checkbox-label">Eläkeläisalennus</span>
</div>

<h4>Laitteet</h4>

<div class="styled-chekbox">
    <input type="checkbox" checked class="icheck-box-flat"><span class="checkbox-label">TV</span>
</div>

<div class="styled-chekbox">
    <input type="checkbox" checked class="icheck-box-flat"><span class="checkbox-label">Pöytäkone</span>
</div>

<div class="styled-chekbox">
    <input type="checkbox" checked class="icheck-box-flat"><span class="checkbox-label">Kannettava</span>
</div>

<div class="styled-chekbox">
    <input type="checkbox" checked class="icheck-box-flat"><span class="checkbox-label">Matkapuhelin</span>
</div>
<div class="styled-chekbox">
    <input type="checkbox" checked class="icheck-box-flat"><span class="checkbox-label">Tabletti</span>
</div>

<h4>Nettiyhteys</h4>

<div class="styled-chekbox">
    <input type="checkbox" checked class="icheck-box-flat"><span class="checkbox-label">Wlan</span>
</div>
<div class="styled-chekbox">
    <input type="checkbox" checked class="icheck-box-flat"><span class="checkbox-label">Mokkula</span>
</div>








<button>Tallenna</button> <button> Seuraava</button> 


